* {
    border-collapse: separate;
}

.main {
    position: absolute;
    top: 130px;
    right: 15%;
    width: 600px;
    background-color: #e6f1e6;
    border-radius: 15px;
    align-items: center;
    height: 72vh;
    border: 1.5px solid rgb(57, 57, 218);

}

.menu-bar .table {
    margin-left: -150px;

}

h1 {
    font-family: Times New Roman;
    margin: 20px, 0;
    color: rgb(18, 17, 17);
    font-size: 30px;
    font-weight: lighter;
    animation-delay: 3.5s;
    font-style: italic;
}

input[type=submit] {
    background-color: rgb(98, 203, 249);
    border: 1px solid black;
    color: rgb(23, 22, 22);
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
}

input {
    padding: 20px, 0;
    margin: 20px, 0;
}

input:hover {
    color: rgb(101, 169, 218);
    background-color: rgb(23, 22, 22);
    ;
}

p {
    color: #ffffff;
}

.row em {
    color: red;
    font-weight: bolder;
    font-style: italic;
}

.main .bold {
    font-style: italic;
}

.wrapper .predict {
    font-weight: bold;

}

.logo .title {
    font-size: 20px;
    margin-left: 30%;

}

.pathfinder {
    color: blue;
    font-weight: bold;
}

.bold {
    font-size: 17px;
    font-weight: bold;
}




/* css for index.html */


.pathFinder {
    margin-left: 23%;
    margin-top: 10%;
}

.btn {
    margin-left: 45%;
    padding: 10px 20px;
    color: white;
    background-color: orange;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;

}

.btn:hover {
    color: orange;
    background-color: white;
    cursor: pointer;
}

strong {
    color: blue;

}